.nav-container {
  background-color: #1e1e30;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
}
.unordered-list-header-container {
  list-style-type: none;
  padding-left: 150px;
  width: 90%;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: aqua;
}

@media screen and (max-width: 768px) {
  .unordered-list-header-container {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-right: 16px;
  }
}

.covid19India-heading-list-item {
  margin-right: auto;
}

.covid19-heading-element {
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #f8fafc;
}

.india-span-element {
  font-family: 'Bree Serif', serif;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #007bff;
}

@media screen and (min-width: 768px) {
  .hamburger-icon-mobile-view {
    display: none;
  }
}

.hamburger-icon-button {
  background-color: transparent;
  outline: none;
  border-width: 0px;
  cursor: pointer;
}

.home-list-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #94a3b8;
  margin-right: 45px;
  text-decoration: none;
}
.about-list-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #94a3b8;
  margin-right: 0px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .home-list-item,
  .about-list-item {
    display: none;
  }
}

.active-link {
  font-weight: 500;
  color: #f8fafc;
}

.unordered-list-header-container li {
  list-style: none;
}

.home-list-item:hover,
.about-list-item:hover {
  color: #f8fafc;
}
